{% extends 'base.html.twig' %}

{% block title %}Tagesüberblick{% endblock %}

{% block body %}
    <h1>Tagesübersicht</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Datum</th>
                <th>Titel</th>
            </tr>
        </thead>
        <tbody>
            {% for day in days %}
                <tr>
                    <td>{{day.date | date ('d.m.Y')}}</td>
                    <td>{{day.title}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
